<!doctype html>
<title>Dashboard</title>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-dark login-bg">
  <div class="container-fluid">
    <a class="navbar-brand display-5 fw-bold ls-tight" style="color: hsl(221, 55%, 88%)" href="#">Global Router</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color: hsl(221, 55%, 88%)" href="http://global-router.rtfd.io/">Documentation</a>
        </li>
      </ul>
      <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {% if user %}
          {{user}}
          {% else %}
          User
          {% endif %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row ">
    <div class="col-xl-4 my-4 p-4">
      <h2 class="text-muted">Dashboard</h2>
      <form action="/dashboard" id="netlist-input-form" type="file" enctype="multipart/form-data">
        <label class="form-label" for="inputFile">Upload input netlist file</label>
        <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputFile" name="inputFile" accept=".txt" required />
        <button type="submit" class="input-group-text btn btn-primary">Submit Netlist</button>
        </div>
      </form>

      <p>or</p>
      <button type="button" id="sample-netlist" class="btn btn-primary mb-3">Use sample netlist</button>
    </div>
    <div class="col-xl-8 my-4 p-4">
      <h2 class="text-muted">Congestion Visualization</h2>
      <img id="congestion-plot" alt="Congestion Data Plot" width="100%" style="border-radius: 10px;">
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/ajax.js')}}"></script>
{% include "footer.html" %}