<!doctype html>
<title>Dashboard</title>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-dark login-bg">
  <div class="container-fluid">
    <a class="navbar-brand display-5 fw-bold ls-tight" style="color: hsl(221, 55%, 88%)" href="#">Global Router</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color: hsl(221, 55%, 88%)" href="http://global-router.rtfd.io/">Documentation</a>
        </li>
      </ul>
      <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {% if user %}
          {{user}}
          {% else %}
          User
          {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row ">
    <div class="col-xl-4 p-4">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-muted">Netlist & Algorithm Selection</h3>
        </div>
        <div class="card-body">
          <form id="netlist-input-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-check">
                <label class="form-check-label" for="inputFileOption">
                  Upload input netlist file
                </label>
                <input class="form-check-input" type="radio" name="inputFileOption" id="inputFileOption"
                  value="inputFile">
              </div>
              <div class="mb-3">
                <input disabled type="file" class="form-control" id="inputFile" name="inputFile" accept=".txt"
                  required />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-check">
                <label class="form-check-label" for="sampleFileOption">
                  Select sample netlist file
                </label>
                <input class="form-check-input" type="radio" name="inputFileOption" id="sampleFileOption"
                  value="sampleFile">
              </div>
              <div class="mb-3">
                <select disabled class="form-select form-select mb-3" required aria-label=".form-select example"
                  id="sample-netlist-select">
                  <option disabled selected>Select a sample netlist</option>
                  <option value="1">Example</option>
                  <option value="2">IBM01</option>
                  <option value="3">IBM02</option>
                  <option value="4">IBM03</option>
                  <option value="5">IBM04</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="algorithm-select">Select Algorithm</label>
                <select class="form-select form-select mb-3" required aria-label=".form-select example"
                  id="algorithm-select">
                  <option value="1" selected>Best First Search (Binary Heap)</option>
                  <option value="2">Best First Search (Fibonacci Heap)</option>
                  <option value="3">Breadth First Search</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label" for="seed-input">Enter Seed(Optional)</label>
                <input type="number" class="form-control" id="seed-input" placeholder="Enter Allah Seed">
              </div>
            </div>
          </div>
          <button type="submit" id="submit-netlist" class="input-group-text btn btn-primary mb-3" disabled>Submit
            Netlist</button>
          </form>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-muted">Job Monitor</h3>
        </div>
        <div class="card-body" id="job-monitor-table-body">
          <table class="table" id="job-monitor">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for output in outputs %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{output.name}}</td>
                <td style="color: green;">Ready</td>
                <td>{{output.timestamp}}</td>
                <td>
                  <button class="btn btn-primary" disabled>Opened</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-8 p-4">
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="text-muted me-auto">Congestion Visualization</h3>
          <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#plModal">
            Legend
          </button>
        </div>
        {% if outputs %}
        <div class="card-body" id="output-view">
          <ul class="nav nav-pills mb-3" id="netlist-tabs" role="tablist">
            {% for output in outputs %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab-{{loop.index}}-tab" data-bs-toggle="pill"
                data-bs-target="#tab-{{loop.index}}" type="button" role="tab" aria-controls="tab-{{loop.index}}"
                aria-selected="false">Plot-{{loop.index}}</button>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="netlist-tabs-content">
            {% for output in outputs %}
            <div class="tab-pane fade" id="tab-{{loop.index}}" role="tabpanel" aria-labelledby="tab-{{loop.index}}-tab">
              <div class="row">
                <div id="plot-view" class="col-xl-8">{{output.fig_html|safe}}</div>
                <div class="col-xl-4" id="netlist-output-details">
                  <span>
                    <h5>Netlist Details</h5>
                    <ul id="netlist-details-list">
                      <li>Name: {{output.name}}</li>
                      <li>Grid: {{output.netlist_details.grid_hor}} x {{output.netlist_details.grid_ver}}</li>
                      <li>Horizontal Capacity: {{output.netlist_details.hor_cap}}</li>
                      <li>Vertical Capacity: {{output.netlist_details.ver_cap}}</li>
                      <li>Netlist Size: {{output.netlist_size}}</li>
                      <li>Overflow: {{output.overflow}}</li>
                      <li>Wirelength: {{output.wirelength}}</li>
                      <li>Timestamp: {{output.timestamp}}</li>
                      <li>Algorithm: {{output.algorithm}}</li>
                    </ul>
                    <a href="/download/{{output.unique_name}}" class="btn btn-primary">Download Output</a>
                  </span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="card-body row" id="output-view">
          <div id="plot-view" class="col-xl-8 diagonal-text">
            <h4>Congestion Plot</h4>
          </div>
          <div class="col-xl-4 " id="netlist-output-details">
            <span>
              <h5>Netlist Details</h5>
              <span id="no-netlist-provided-span">No netlist provided</span>
            </span>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<div class="modal fade" id="plModal" tabindex="-1" aria-labelledby="plModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="plModalLabel">Legend</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item bg-white text-dark">Congestion = 0%</li>
          <li class="list-group-item text-white" style="background-color: blue;">Congestion &le; 25%</li>
          <li class="list-group-item text-dark" style="background-color: cyan;">Congestion &le; 50%</li>
          <li class="list-group-item text-white" style="background-color: green;">Congestion &le; 75%</li>
          <li class="list-group-item text-dark" style="background-color: yellow;">Congestion &le; 100%</li>
          <li class="list-group-item text-white" style="background-color: red;">Overflow (Congestion &gt; 100%)</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/ajax.js')}}"></script>
{% include "footer.html" %}