<!doctype html>
<title>Dashboard</title>
{% include "header.html" %}
<nav class="navbar navbar-expand-lg navbar-dark login-bg">
  <div class="container-fluid">
    <a class="navbar-brand display-5 fw-bold ls-tight" style="color: hsl(221, 55%, 88%)" href="#">Global Router</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="color: hsl(221, 55%, 88%)" href="http://global-router.rtfd.io/">Documentation</a>
        </li>
      </ul>
      <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {% if user %}
          {{user}}
          {% else %}
          User
          {% endif %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row ">
    <div class="col-xl-4 p-4">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-muted">Netlist Selection</h3>
        </div>
        <div class="card-body">
          <form action="/dashboard" id="netlist-input-form" type="file" enctype="multipart/form-data">
            <label class="form-label" for="inputFile">Upload input netlist file</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputFile" name="inputFile" accept=".txt" required />
              <button type="submit" id="submit-netlist" class="input-group-text btn btn-primary">Submit Netlist</button>
            </div>
          </form>

          <p style="text-align: center; font-size: 1.5em;">or</p>

          <div class="input-group mb-3">
            <select class="form-select form-select mb-3" required aria-label=".form-select example"
              id="sample-netlist-select">
              <option disabled selected>Select a sample netlist</option>
              <option value="1">Example</option>
              <option value="2">IBM01</option>
              <option value="3">IBM02</option>
              <option value="4">IBM03</option>
              <option value="5">IBM04</option>
            </select>
            <button type="button" id="sample-netlist" disabled class="input-group-text btn btn-primary mb-3">Select
              Netlist</button>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-muted">Netlist Details</h3>
        </div>
        <div class="card-body">
          <span id="no-netlist-provided-span">
            No netlist provided
          </span>
          <ul id="netlist-details-list" hidden>
            <li id="grid-size"></li>
            <li id="horcap"></li>
            <li id="vercap"></li>
            <li id="netlist-size"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-8 p-4">
      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-muted">Congestion Visualization</h3>
        </div>
        <div class="card-body">
          <img id="congestion-plot" alt="Congestion Data Plot" width="100%" style="border-radius: calc(.25rem - 1px);">
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/ajax.js')}}"></script>
{% include "footer.html" %}