.login-bg {
    background-color: rgb(72, 88, 146);
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.756) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

body {
    background-color: #eee;
}

.legend {
    display: flex;
    align-items: center;
    min-height: 300px;
}

.legend ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.legend li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.legend li .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: gray solid 1px;
}

.legend li .label {
    font-size: 14px;
    font-weight: bold;
}

.diagonal-text {
    min-height: 300px;
    position: relative;
}

.diagonal-text h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: rgb(175, 175, 175);
}