.login-bg {
    background-color: rgb(72, 88, 146);
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.756) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

body {
    background-color: #eee;
}

.diagonal-text {
    min-height: 300px;
    position: relative;
}

.diagonal-text h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: rgb(175, 175, 175);
}

.tab-pane div {
    text-align: center;
}

#netlist-output-details{
    display: flex;
    align-items: center;
    text-align: left;
}